<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>מרפאט - שירותי בריאות לחיות מחמד - שאלות נפוצות</title>
	 
	<link href="css/bootstrap.css" rel="stylesheet">	 
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
	<link href="css/main.css" rel="stylesheet">
	<!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
 
	<link rel="shortcut icon" href="images/favicon.png">
	<script src="js/pace.js"></script>
</head>

<body>
	<header>
    	<div class="header-top">
            <div class="container">
        		<div class="row">
	                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<div class="text-left">
                            <span class="link-callus">חייג אלינו:</span>                           
                            <span class="callus-phone">073-240-9505</span>
                        </div>    
                     </div>
                	 <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
<ul class="top-links list-inline">
	                        <li class="link-customerLogin"
							><a href="Login.html">כניסת לקוחות</a></li>
                            <li class="link-veterinarian"><a href="Login-Veterinarians.html">כניסת וטרינר</a></li>                        	
                            <li class="link-contactus"><a href="contact-us.html">צור קשר</a></li>
                        </ul>

                     </div>					 
                </div>
            </div>    
        </div>
        
        	<div class="header-middle">
	        	<div class="container">
                	<div class="header-logo clearfix">
                        <div class="logo col-lg-2 col-md-2 col-sm-2 col-xs-3 no-gutters">
                            <a href='index.html'><img 
							id="logo" src="images/logo.png"  class="img-responsive" alt="cat insurance" >
							</a>
                        </div>
                        <div class="logocat col-lg-10 col-md-10 col-sm-10 col-xs-9 no-gutters" style="padding: 0 !important;">
                            <img src="images/logocat.jpg" class="img-responsive" alt="cat insurance" >
                        </div>
                      </div>  
                	<nav class="navbar navbar-default navbar-menu" role="navigation">
                    	<div class="container-fluid no-gutters">
                        	<div class="navbar-header no-gutters">
                                <a href="Request-Quote.html" class="get-quote"><span>קבל הצעת מחיר</span></a>                            
                            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                             	</button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
                                <li><a href="index.html" class="home"><span class="navlabel">דף הבית</span></a></li>
                                <li class="dropdown">
                                	<a href="about-us.html" 
onclick='menuGo("about-us.html")'
class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    	<span class="navlabel">&nbsp;&nbsp;על השירות&nbsp;&nbsp;<span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href='about-us.html' class="service">על השירות</a></li>
                                        <li><a href="What-we-cover.html" class="solution">מה אנו מכסים</a></li>
                                        <li><a href="faq.html" class="solution">שאלות נפוצות</a></li>
                                    </ul>
                                </li>
		
                                <li class="dropdown">
                                	<a href="plans.html" 
onclick='menuGo("plans.html")'
class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    	<span class="navlabel">&nbsp;תכניות כיסוי&nbsp;<span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href='plans.html' class="solution">תוכניות כיסוי</a></li>
                                        <li><a href='Service-for-the-dog.html' class="solution">השירות לכלב</a></li>
                                        <li><a href="Service-for-the-cat.html" class="solution">השירות לחתול</a></li>
                                    </ul>
                                </li>

                                <li><a href="for-Veterinarians.html" class="for-veterinarians last"><span class="navlabel">לוטרינרים</span></a></li>                            
                            </ul>
                            </div>                             
                       </div> 
                    </nav>
    			</div>	
    		</div>
    </header> 
        	<div class="banner-slider">
				<div class="container">
                    <div class="clearfix"></div>
                </div>    
            </div>
	<section>
    	<div class="container aboutus-page">
        	<p class="text40 text-blue text-bold">שאלות נפוצות</p>
			<div class="faq-table-wrapper clearfix">
				<div class="clearfix">
                    <div class="col-xs-2 first no-gutters"><div class="table-heading">קטגוריה</div></div>
                    <div class="col-xs-6  no-gutters"><div class="table-heading">שאלות</div></div>
                    <div class="col-xs-4 last no-gutters"><div class="table-heading">תשובה</div></div>                
                </div>
				<div class="faq-table clearfix">	
                    <div class="col-xs-2 first no-gutters">
                        <div class="faq-categorys">
                            <ul>
                                <li id="faq-1" class="selected">אודות השירות</li>
                                <li id="faq-2">הרשמה לשירות</li>
                                <!--li id="faq-3">מחיר</li-->
                                <li id="faq-4">תביעות</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 no-gutters">
                        <div class="faq-questions">
                            <ul class="faq-1">
                                <li id="faq-1-1" class="selected">מהו שירות מרפאט?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
                                <li id="faq-1-2">מה השירות של מרפאט כולל?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
                                <li id="faq-1-3">מה השירות של מרפאט לא כולל?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
                                <li id="faq-1-4">מה ההגדרה של מצב רפואי קיים או מחלה קיימת?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
                                <li id="faq-1-5">האם מרפאט עובדים כמו קופת חולים?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
                                <li id="faq-1-6">האם אני יכול להמשיך לבקר אצל הווטרינר הנוכחי שלי דרך מרפאט? </li>
								<li><div style="margin: 3px 0 7px;"></div></li>
                                <li id="faq-1-7">מתי השירות שלי מתחיל לפעול?</li>
                            </ul>                        
                            <ul class="faq-2">	
								<li id="faq-2-1" class="selected">מה הדרישות מחיית המחמד שלי כדי להיות זכאי להצטרף למרפאט?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-2-2">מה אוכל לעשות אם אין לי שבב?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-2-3">מה אוכל לעשות אם אני לא בטוח בתאריך הלידה של חיית המחמד שלי? </li>
								<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-2-4">האם כדי להצטרף לשירות עליי לפרט את ההיסטוריה הרפואית של חיית המחמד שלי? </li>
								<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-2-5">האם תפסיקו לתת שירות כאשר חיית המחמד שלי תתבגר?</li>
								<!--
								<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-2-6">האם אתם יכולים לבטל לי את השירות?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-2-7">האם אני יכול לבטל את השירות?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-2-8">אם אני מפסיק את הכיסוי שלי, האם אוכל לחזור לרכוש שירות עבור חיית המחמד שלי בשלב מאוחר יותר? </li>
								-->
                           </ul>                        
                            <!--<ul class="faq-3">	
												
								<li id="faq-3-1" class="selected">כמה עולה השירות ולפי מה נקבע המחיר?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
							
								<li id="faq-3-2">האם העלות החודשית שלי תשתנה במידה והיו לי הרבה הוצאות רפואיות?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-3-3">האם יש צורך בחידוש?</li>
								<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-3-4">האם אני יכול לשנות את הכיסוי של חיית המחמד שלי במהלך השנה?</li> 
								<li id="faq-3-4"><div style="margin: 3px 0 7px;">&nbsp;</div></li>
                            </ul>  -->                      

                            <ul class="faq-4">							
								<li id="faq-4-1" class="selected">האם בחיסונים יש השתתפות עצמית?</li>
<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-4-2">איך מתבצע התשלום לוטרינר ואיך מחושבת ההשתתפות העצמית?</li>
<li><div style="margin: 3px 0 7px;"></div></li>
								<li id="faq-4-3">האם יש צורך להגיש תביעה?</li>
<li><div style="margin: 3px 0 7px;"><BR></div></li>
<!--
								<li id="faq-4-4">האם אני צריך אישור מראש ממרפאט לפני קבלת טיפול רפואי לחיית המחמד שלי?</li>
--> 								

                            </ul>                        


                        </div>
                    </div>
                    <div class="col-xs-4 last no-gutters">
                        <div class="faq-replys">
<!-- start replies -->
<div class="faq-1-1 faq-reply selected"><p>שירות המעניק כיסוי רפואי מלא לחיות מחמד , החל מחיסונים וכלה בטיפול הרפואי הנדרש בעקבות פציעה,תאונה או מחלה וזאת באמצעות וטרינריים ומרכזים רפואיים שבהסדר.</p></div>
<div class="faq-1-2 faq-reply "><p>השירות שלנו מספק את כל הצרכים הרפואיים של חיים המחמד שלך החל מחיסונים וכלה בטיפול רפואי ומלא בעקבות תאונה פציעה או מחלה.
למידע מפורט נוסף אנא כנה לדף "<A href='What-we-cover.html'>מה אנו מכסים</a>"</p></div>
<div class="faq-1-3 faq-reply "><p>באופן טבעי, יש לנו כמה חריגים, למשל טיפול במצב רפואי קיים וכל טיפול הקשור להיריון ,לידה פיריון והרבעה 
. אנא כנס <a href='join.php'>לקבלת הצעת מחיר</a> לצורך צפיה בכתב השירות המלא</p></div>
<div class="faq-1-4 faq-reply "><p>אירוע רפואי הינו כל פציעה, תאונה או מחלה, לרבות מצבים רפואיים נוספים אשר מקורם, בין היתר, באותו אירוע רפואי</p></div>
<div class="faq-1-5 faq-reply "><p>לא. אנו לא מתערבים בהחלטות רפואיות. ההחלטות הרפואיות הן בידך ובידי הוטרינר המטפל שלך בלבד.</p></div>
<div class="faq-1-6 faq-reply "><p>כן במידה והווטרינר שלך כלול ברשימת הווטרינרים שבהסדר (לחץ כאן). במידה והוא לא כלול -  יש לבחור את אחד מהמרפאות הווטרינריות המובחרות האחרות הנמצאות ברשימה.</p></div>
<div class="faq-1-7 faq-reply "><p>חיסונים ניתן לבצע חיסונים יום לאחר ההרשמה. לקבלת טיפול רפואי - ישנה תקופת אכשרה של 60 יום.</p></div>


<div class="faq-2-1 faq-reply selected"><p>כלב - לשירות יכול להצטרף כלב בעל שבב בלבד מגיל 6 שבועות עד גיל 8 גיל כניסה (מגיל 6 שבועות עד גיל 3 חודשים ניתן לקבל חיסונים ללא השבב). כלב שהגיע לגיל 8 כשהוא בשירות ימשיך לקבל שירות.
<BR><BR>
חתול - לשירות יכול להצטרף חתול בעל שבב בלבד מגיל 6 שבועות עד גיל 9 גיל כניסה (מגיל 6 שבועות עד גיל 3 חודשים ניתן לקבל חיסונים ללא השבב). חתול שהגיע לגיל 9 כשהוא בשירות ימשיך לקבל שירות."</p></div>
<div class="faq-2-2 faq-reply "><p>לקוחות המעוניינים להצטרף למרפאט ובחיית המחמד שלהם אין שבב, הם יוכלו לגשת לאחד מהווטרינרים שבהסדר ולבצע התקנת שבב בהנחה משמעותית</p></div>
<div class="faq-2-3 faq-reply "><p>מדובר בבעיה נפוצה. אם אינך יודע את הגיל אז ציון הגיל עפ"י הערכה כנה שלך הוא בסדר גמור. עם זאת, אם באמת אין לך מושג, תשאל את הווטרינר שלך שאמור להיות מסוגל להעריך גיל של חיית המחמד שלך, על בסיס בחינה של מאפיינים פיזיים מסוימים.</p></div>
<div class="faq-2-4 faq-reply "><p>בתהליך ההצטרפות אתה תישאל מספר שאלות קצרות בנוגע למצבה ההרפואי של חיית המחמד שלך.</p></div>

<!--
<div class="faq-2-5 faq-reply "><p> כל עוד חיית המחמד שלך הצטרפה לשירות לפני גיל הכניסה (כלב גיל 8, חתול גיל 9) והייתם בשירות רצוף ללא הפסקה, אנחנו לא נוציא את חיית המחמד שלך מהשירות. אחרי הכל,  אנחנו אוהבי חיות מחמד,  גם כן!</p></div>
<div class="faq-2-6 faq-reply "><p>ראה תנאי ביטול </p></div>
<div class="faq-2-7 faq-reply "><p>נשמח לקבל אתכם ואת חיית המחמד שלכם בחזרה למרפאט בכל עת. עם זאת, לאחר ביטול השירות, תצטרך להירשם מחדש באתר. חשוב לציין כי בכל מצב רפואי שהיה כשחיית המחמד שלך הייתה בשירות או שאירע בזמן שלא היית בשירות,יוגדר כמצב רפואי קיים. כמו כן תהיה תקופת אכשרה. </p></div>
-->

<div class="faq-4-1 faq-reply selected"><p>חיסונים הינם ללא השתתפות עצמית</p></div>
<div class="faq-4-2 faq-reply" ><p>התשלום לוטרינר מבוצע על ידי "מרפאט" למעט השתתפות עצמית שמשולמת על ידי הלקוח במעמד הטיפול הרפואי.  הששתפות העצמית מחושבת כאחוז מסוים ממחירי המרפאה של הוטרינר.</p></div>
<div class="faq-4-3 faq-reply" ><p>אין צורך למלא טפסים ולהגיש תביעה. מרפאט משלמת במקומכם ישירות לוטרינר (למעט השתתפות עצמית אם נדרשת)</p></div>

<!-- end replies -->
                        </div>
                    </div>
                </div>
            </div>
            <p class="text30 text-green">עוד שאלות? נשמח לענות בטלפון או באמצעות <a href="contact-us.html" 
			class="text-blue">טופס צור קשר</a></p>
			<div>
	    		<img src="images/banner1.jpg" class="img-responsive">
            </div>
            <br>
        </div>
	</section>
    
  <footer>
    	<div class="footer">        	
            <div class="container">
            	<div class="footer-top clearfix">
                	<div class="col-md-4 col-md-4 col-sm-4 col-xs-6 footer-logo">
	                    <img src="images/footer_icon.png" class="img-responsive">
                    </div>                	
                </div>
            	<div class="footer-middle clearfix">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>
                            <li><a href="about-us.html">על השירות</a></li>
                            <li><a href="What-we-cover.html">מה אנו מכסים</a></li>
							<li><a href="plans.html">תוכניות</a></li>
							<li><a href="Service-for-the-dog.html">השירות לכלב</a></li>
							<li><a href="Service-for-the-cat.html">השירות לחתול</a></li>
                        </ul>
                    </div>                
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>						
                            <li><a href="terms-and-conditions.html">תנאים והגבלות</a></li>
                            <li><a href="faq.html">שאלות נפוצות</a></li>
                            <li><a href="for-Veterinarians.html">וטרינרים</a></li>
							<li><a href="contact-us.html">צור קשר</a></li>
                        </ul>
                    </div>       
               </div>                        
               <div class="footer-bottom clearfix">
               	<p class="">2014 © מרפאט שירותי בריאות לחיות</p>
               </div>
            </div>
        </div>
    </footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/easing.js"></script>
<script src="js/nicescroll.js"></script>
 
 <script>
 $(function() {   
	$('.faq-categorys li').each(function(){
			$(this).on('click',function(){
					$('.faq-categorys,.faq-questions ul,faq-replys').find('.selected').removeClass('selected');
					$(this).addClass('selected');					
					var catid = $(this).prop('id');
					$('.faq-questions ul,.faq-reply').hide();
					$(".faq-questions").find('.'+catid).show();
					$(".faq-replys").find('.'+catid+'-1').show().addClass('selected');
				});
		});
	$('.faq-questions li').each(function(){
			$(this).on('click',function(){
					$('.faq-questions ul li.selected').removeClass('selected');
					$(this).addClass('selected');
					$('.faq-reply').hide();
					$('.faq-replys').find('.selected').removeClass('selected');
					var faqquestionid = $(this).prop('id');
					$(".faq-replys").find('.'+faqquestionid).show().addClass('selected');
				});
		});	
});         
</script>
 
<script>
 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
	  $('.dropdown-menu').hover(function(){
		$(this).prev('.dropdown-toggle').addClass('hover');
  		},function() {
    	$(this).prev('.dropdown-toggle').removeClass( "hover" );
	});
});         
</script>
 
</body>
</html>
