<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>מרפאט - שירותי בריאות לחיות מחמד - השירות לכלב</title>
	 
	<link href="css/bootstrap.css" rel="stylesheet">	 
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
	<link href="css/main.css" rel="stylesheet">

	<!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
 
	<link rel="shortcut icon" href="images/favicon.png">
	<script src="js/pace.js"></script>
</head>

<body class="page-doginsurance">
	<header>
    	<div class="header-top">
<div class="container">
        		<div class="row">
	                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<div class="text-left">
                            <span class="link-callus">חייג אלינו:</span>                           
                            <span class="callus-phone">073-240-9505</span>
                        </div>    
                     </div>
                	 <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
<ul class="top-links list-inline">
	                        <li class="link-customerLogin"
							><a href="Login.html">כניסת לקוחות</a></li>
                            <li class="link-veterinarian"><a href="Login-Veterinarians.html">כניסת וטרינר</a></li>                        	
                            <li class="link-contactus"><a href="contact-us.html">צור קשר</a></li>
                        </ul>

                     </div>					 
                </div>
            </div>   
   
        </div>
        
        	<div class="header-middle">
	        	<div class="container">
                	<div class="header-logo clearfix">
                        <div class="logo col-lg-2 col-md-2 col-sm-2 col-xs-3 no-gutters">
                            <a href='index.html'><img 
							id="logo" src="images/logo.png"  class="img-responsive" alt="cat insurance" >
							</a>
                        </div>
                        <div class="logocat col-lg-10 col-md-10 col-sm-10 col-xs-9 no-gutters" style="padding: 0 !important;">
                            <img src="images/logocat.jpg" class="img-responsive" alt="cat insurance" >
                        </div>
                      </div>  
                	<nav class="navbar navbar-default navbar-menu" role="navigation">
                    	<div class="container-fluid no-gutters">
                        	<div class="navbar-header no-gutters">
                                <a href="Request-Quote.html" class="get-quote"><span>קבל הצעת מחיר</span></a>                            
                            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                             	</button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
                                <li><a href="index.html"class="home"><span class="navlabel">דף הבית</span></a></li>
                                <li class="dropdown">
                                	<a href="about-us.html" 
onclick='menuGo("about-us.html")'
class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    	<span class="navlabel">&nbsp;&nbsp;על השירות&nbsp;&nbsp;<span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href='about-us.html' class="service">על השירות</a></li>
                                        <li><a href="What-we-cover.html" class="solution">מה אנו מכסים</a></li>
                                        <li><a href="faq.html" class="solution">שאלות נפוצות</a></li>
                                    </ul>
                                </li>
		
                                <li class="dropdown">
                                	<a href="plans.html"
onclick='menuGo("plans.html")'
 class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    	<span class="navlabel">&nbsp;תכניות כיסוי&nbsp;<span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href='plans.html' class="solution">תוכניות כיסוי</a></li>
                                        <li><a href='Service-for-the-dog.html' class="solution">השירות לכלב</a></li>
                                        <li><a href="Service-for-the-cat.html" class="solution">השירות לחתול</a></li>
                                    </ul>
                                </li>

                                <li><a href="for-Veterinarians.html" class="for-veterinarians last"><span class="navlabel">לוטרינרים</span></a></li>                            
                            </ul>
                            </div>                             
                       </div> 
                    </nav>
    			</div>	
    		</div>
    </header> 

        	<div class="banner-slider">
				<div class="container">
                    	<ul class="slider list-inline">
                        	<li> 
                        		<div id="slider-layer1" class="slider-layer">
                            		<img src="images/dog6.png" class="img-responsive inline-block" style="margin-top: 114px;">
                            	</div>
                                <div id="slider-layer2" class="slider-layer slider-content">
                                	<p class="breadcrumb"></p>
                                    <p class="text40 text-blue text-bold heading">השירות  לכלב </p>
                                    <p class="text18 text-bold text-darkblue">
									הכלב הוא חיית מחמד אשר ממלאת את חיי האדם עם משחקים, 
									אהבה אין סופית, סקרנות והתלהבות. החיים לצד כלב הם חיים של התרוממות רוח. חיים של כיף, של נתינה ושל קבלה. אבל הכל יכול להשתנות אם חלילה הכלב חלה או נפצע, ואתם לא מסוגלים לטפל בו.</p>
                                </div>                         	                            
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>    
            </div>
	<section>
    	<div class="container">
        	<div class="content-top">

<P>בדיוק לשם כך אנחנו פה. שירות מרפאט מאפשר לכם שקט נפשי בכל הקשור לטיפולים הרפואיים של הכלב שלכם. אין יותר חובות לוטרינרים, ואין יותר התלבטויות לגבי הענקת טיפול רפואי לכלב האהוב שלכם. </p>
<P>בין אם הכלב שלכם נפצע, ננשך, נשרט, חלה או עבר חלילה תאונה – אנחנו פה. אפילו אם הכלב שלכם, כפי שקורה לא מעט פעמים, בלע משהו מזיק, או חלה בדלקת או בסרטן, אנחנו נהיה כאן על מנת להעניק לו את האפשרות לטיפול רפואי מעולה.</p>
<P>עולם הוטרינריה התפתח רבות בשנים האחרונות, הטיפולים המוצעים כיום לכלבים משפרים מאוד את איכות חייהם של כלבים חולים או כלבים מבוגרים, ומצילים חיים במקרים אחרים. הבעיה היא שמדובר בטיפולים יקרים. אנחנו פותרים את הבעיה הזו. </p>


            </div>
            <div class="howitworks clearfix">
            	<h2 class="text40 text-blue text-bold">איך זה עובד?</h2>
                <div class="col-md-10 no-gutters">
                	<ul>
                    	<li><p>כאשר הכלב שלכם חולה או פצוע, גשו לאחד ממרפאות ההסדר לפי בחירתכם.</p></li>
                    	<li><p>תזדהו כלקוחות מרפאט, ותקבלו את כל הטיפול הרפואי שהכלב זקוק לו.</p></li>
						<li><p>תשלמו השתתפות עצמית מינימלית במידה ונדרשת.</p></li>                                                                        
                        <li><p>סיימתם - אין צורך למלא טפסים, להמתין על הקו או לשלוח מכתבים. <B>אנחנו משלמים את החשבון ישירות לוטרינר!</b></p></li>
                    </ul>
                </div>
                <div class="col-md-2 no-gutters">
                	&nbsp;
                </div>                
            </div>
            <div class="clearfix insurance-advantages">
            	<div class="insurance-advantages-img"><img src="images/dog7.png" class="img-responsive"></div>
            	<div class="col-md-4 col-sm-4">
                	<div class="icon"><img src="images/icon7.png"></div>
                    <div class="heading">משתלם</div>
                    <p>השרות ניתן בעלות נוחה לכל כיס, עם מגוון אפשרויות לתוכניות ולכיסויים שונים.</p>
                </div>
            	<div class="col-md-4 col-sm-4">
                	<div class="icon"><img src="images/icon7.png"></div>
                    <div class="heading">נוח</div>                
                    <p>אנו משלמים ישירות לוטרינר. אין מילוי טפסים או המתנה להחזר הוצאות.</p>
                </div>
            	<div class="col-md-4 col-sm-4">
                	<div class="icon"><img src="images/icon7.png"></div>
                    <div class="heading">גמיש</div>
                    <p>תוכלו לבחור כל וטרינר בהסדר, מתוך הרשימהת הארוכה של והטרינרים העובדים איתנו. ניתן לעבור וטרינר פעם ברבעון.</p>                
                </div>                                
            </div>
            <div class="content-bottom clearfix">
            	<div class="col-md-4 col-sm-4">
                	<img src="images/dog7.jpg" class="img-responsive">
                </div>
                <div class="col-md-8 col-sm-8 text18 text-darkblue">
                	<div class="left-content">
                        <p>הגיע למשפחה גור כלבים חדש – מזל טוב. מרפאט נותנת שירות לגורים החל מהחיסון הראשון!</p>
                        <p>כמו כן, תקבלו את כל מערך החיסונים לו זקוק הגור בשנת חייו הראשונה. 
</p><p>
גם שככלבם יהיה זקן ויהיה זקוק לכם יותר מתמיד, גם אז אנחנו פה בשבילכם – אנחנו לא נפסיק את השירות כשהכלב יתבגר (כל עוד הצטרפתם לשירות לפני גיל 8).
 </p>
                    </div>
                </div>
            </div>
        </div>	
	</section>
    
  <footer>
    	<div class="footer">        	
            <div class="container">
            	<div class="footer-top clearfix">
                	<div class="col-md-4 col-md-4 col-sm-4 col-xs-6 footer-logo">
	                    <img src="images/footer_icon.png" class="img-responsive">
                    </div>                	
                </div>
            	<div class="footer-middle clearfix">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>
                            <li><a href="about-us.html">על השירות</a></li>
                            <li><a href="What-we-cover.html">מה אנו מכסים</a></li>
							<li><a href="plans.html">תוכניות</a></li>
							<li><a href="Service-for-the-dog.html">השירות לכלב</a></li>
							<li><a href="Service-for-the-cat.html">השירות לחתול</a></li>
                        </ul>
                    </div>                
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>						
                            <li><a href="terms-and-conditions.html">תנאים והגבלות</a></li>
                            <li><a href="faq.html">שאלות נפוצות</a></li>
                            <li><a href="for-Veterinarians.html">וטרינרים</a></li>
							<li><a href="contact-us.html">צור קשר</a></li>
                        </ul>
                    </div>         
               </div>                        
               <div class="footer-bottom clearfix">
               	<p class="">2014 © מרפאט בע"מ שירותי בריאות לחיות מחמד</p>
               </div>
            </div>
        </div>
    </footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/easing.js"></script>
<script src="js/nicescroll.js"></script>
 
 
<script>
 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
	  $('.dropdown-menu').hover(function(){
		$(this).prev('.dropdown-toggle').addClass('hover');
  		},function() {
    	$(this).prev('.dropdown-toggle').removeClass( "hover" );
	});
});         
</script>
 
</body>
</html>
