<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
<title>מרפאט - שירותי בריאות לחיות מחמד - מה אנו מכסים</title>
	
	 
	<link href="css/bootstrap.css" rel="stylesheet">	 
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
	<link href="css/main.css" rel="stylesheet">
	<!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
 
	<link rel="shortcut icon" href="images/favicon.png">
	<script src="js/pace.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/balloontip.css" />

<script type="text/javascript" src="js/balloontip.js">
</script>
	
</head>

<body>
	<header>
    	<div class="header-top">
            <div class="container">
        		<div class="row">
	                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<div class="text-left">
                            <span class="link-callus">חייג אלינו:</span>                           
                            <span class="callus-phone">073-240-9505</span>
                        </div>    
                     </div>
                	 <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                     	<ul class="top-links list-inline">
	                        <li class="link-customerLogin"><a 
							href='Login.html'>כניסת לקוחות</a></li>
                            <li class="link-veterinarian"><a 
							href='Login-Veterinarians.html'>כניסת וטרינר</a></li>                        	
                            <li class="link-contactus"><a href="contact-us.html">צור קשר</a></li>
                        </ul>
                     </div>					 
                </div>
            </div>  
   
        </div>
        
        	<div class="header-middle">
	        	<div class="container">
                	<div class="header-logo clearfix">
                        <div class="logo col-lg-2 col-md-2 col-sm-2 col-xs-3 no-gutters">
                            <a href='index.html'><img 
							
id="logo" src="images/logo.png" 
 class="img-responsive" alt="cat" >
							</a>
                        </div>
                        <div class="logocat col-lg-10 col-md-10 col-sm-10 col-xs-9 no-gutters" style="padding: 0 !important;">
                            <img src="images/logocat.jpg" class="img-responsive" alt="cat insurance" >
                        </div>
                      </div>  
                	<nav class="navbar navbar-default navbar-menu" role="navigation">
                    	<div class="container-fluid no-gutters">
                        	<div class="navbar-header no-gutters">
                                <a href="Request-Quote.html" class="get-quote"><span>קבל הצעת מחיר</span></a>                            
                            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                             	</button>
                            </div>
                             <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
                                <li><a href="index.html" class="home"><span class="navlabel">דף הבית</span></a></li>
                                 <li class="dropdown">
                                	<a href="about-us.html" 
onclick='menuGo("about-us.html")'
									data-target="about-us.html"
class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    	<span class="navlabel">&nbsp;&nbsp;על השירות&nbsp;&nbsp;<span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href='about-us.html' class="service">על השירות</a></li>
                                        <li><a href="What-we-cover.html" class="solution">מה אנו מכסים</a></li>
                                        <li><a href="faq.html" class="solution">שאלות נפוצות</a></li>
                                    </ul>
                                </li>
		
                                <li class="dropdown">
                                	<a href="plans.html"
onclick='menuGo("plans.html")'
class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    	<span class="navlabel">&nbsp;תכניות כיסוי&nbsp;<span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href='plans.html' class="solution">תוכניות כיסוי</a></li>
                                        <li><a href='Service-for-the-dog.html' class="solution">השירות לכלב</a></li>
                                        <li><a href="Service-for-the-cat.html" class="solution">השירות לחתול</a></li>
                                    </ul>
                                </li>

                                <li><a href="for-Veterinarians.html" class="for-veterinarians last"><span class="navlabel">לוטרינרים</span></a></li>                            
                            </ul>
                            </div>                         
                       </div> 
                    </nav>
    			</div>	
    		</div>
    </header> 

        	<div class="banner-slider">
				<div class="container">
                    	<ul class="slider list-inline">
                        	<li> 
                        		<div id="slider-layer1" class="slider-layer">
                            		<img 
src="images/cat3.png" class="img-responsive inline-block"
 style="margin-top: 84px;">
                            	</div>
                                <div id="slider-layer2" class="slider-layer slider-content">
                                    <p class="text40 text-blue text-bold">מה אנו מכסים</p>
                                    <p 
class="text16">שירות מרפאט מספק את כל הצרכים הרפואיים של חיית המחמד שלכם, החל מחיסונים וכלה בטיפול רפואי מלא בעקבות תאונה, פציעה או מחלה. 
מרפאט משלמת ישירות לווטרינר את הוצאות הטיפול והאבחון הרפואי, כך שאתם לא צריכים לרדוף אחרינו לאחר הטיפול על מנת לקבל החזר. ניתן לבחור כל וטרינר שבהסדר, מתוך רשימת הוטרינרים שעובדים עמנו.</p>
                                </div>                         	                            
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>    
            </div>
	<section>
    <div class="whatwecover-top">
    	<div class="container">
			<div id="whatwecover-table1" class="table-responsive">
                <table class="table">
                    <tr class="first">                        
                        <th class="first">הטיפול</th>
                        <th></th>
                        <th class="last">דוגמאות</th>
                    </tr>
                    <tr>
                    	<td>חיסונים</td>
                        <td><img src="images/icon5.png"></td>
                        <td>כל החיסונים השנתיים המומלצים ע"י הוטרינרים:
 חיסון כלבת, חיסון משושה/מרובע,
 תולעת הפארק, טיפול בתילוע.
<a href=''>פירוט מלא של כל החיסונים הכלולים</a>.
</td>
                    </tr>
                    <tr>
                    	<td>תאונות</td>
                        <td><img src="images/icon5.png"></td>
                        <td>דוגמאות: עצמות שבורות, הרעלה, תאונת דרכים, חתכים, בליעת חפץ זר ועוד.</td>
                    </tr>
                    <tr>
                    	<td>מחלות</td>
                        <td><img src="images/icon5.png"></td>
                        <td>דוגמאות: סרטן, פריצת דיסק, החלפת מפרק אגן, סוכרת, דלקת פרקים, אלרגיות, פציעת רצועה צולבות, דלקות בדרכי שתן, אפילפסיה,Cherry eye ועוד</td>
                    </tr>
                    <tr>
                    	<td>ניתוחים</td>
                        <td><img src="images/icon5.png"></td>
                        <td>דוגמאות: ניתוחים אורתופדים, הרניה על סוגיה השונים, ניתוחי עור, ניתוחי בטן, ניתוחי אוזניים, ניתוחי אוזניים ועוד</td>
                    </tr>                                                            
                    <tr>
                    	<td>שירותי חירום ואשפוז</td>
                        <td><img src="images/icon5.png"></td>
                        <td>חיסון כלבת, חיסון משושה/מרובע, תולעת הפארק, טיפול בתילוע.</td>
                    </tr>
                    <tr class="last">
                    	<td>תרופות</td>
                        <td><img src="images/icon5.png"></td>
                        <td>כל זריקה הניתנת במהלך טיפול במרפאה ובאשפוז.</td>
                    </tr>   

                    <tr class="last">
                    	<td>דיאגנוזה</td>
                        <td><img src="images/icon5.png"></td>
                        <td>דוגמאות: בדיקות מעבדה, צילומי רנטגן, אולטראסאונד, בדיקות דם ושתן,  דיגום נוזלים, לקיחת ביופסיה ועוד.</td>
                    </tr>
                             
                    <tr class="last">
                    	<td>ניקוי שיניים</td>
                        <td><img src="images/icon5.png"></td>
                        <td>השירות כולל ניקוי שיניים שנתי.</td>
                    </tr>
        
                </table>
             </div>
             <div class="whatwecover-banner whatwecover-banner1">
             	<A href='Request-Quote.html'><img 
				src="images/banner1.jpg" class="img-responsive"></a>
             </div>
			<h2 class="text30 text-blue text-bold">ובנוסף השירות כולל</h2>
            <div id="whatwecover-table2" class="table-responsive">
                <table class="table">
                    <tr class="first">                        
                        <th class="first">הטיפול</th>
                        <th></th>
                        <th class="last">דוגמאות</th>
                    </tr>
                    <tr>
                    	<td>וטרינרים מומחים</td>
                        <td><img src="images/icon5.png"></td>
                        <td>השירות כולל יעוץ, בדיקה וניתוח ע"י <a 
						 rel="balloon2"
						 style='text-decoration:underline'>וטרינרים מומחים</a></td>
                    </tr>
                    <tr>
                    	<td>מחלות כרוניות</td>
                        <td><img src="images/icon5.png"></td>
                        <td>השירות כולל טיפול במחלות כרוניות אפילו אם הן מתמשכות חודשים או שנים, עד לגובה התקרה לאירוע רפואי.</td>
                    </tr>
                    <tr>
                    	<td>טיפולים</td>
                        <td><img src="images/icon5.png"></td>
                        <td>השירות כולל את כל הביקורים והטיפולים אצל הוטרינר.</td>
                    </tr>
                    <tr>
                    	<td>חיות מחמד מבוגרות</td>
                        <td><img src="images/icon5.png"></td>
                        <td>אנו לא נפסיק את השירות בעקבות הגעה לגיל מבוגר (כל עוד הצטרפתם לפני גיל הכניסה)</td>
                    </tr>                                                            
                    <tr>
                    	<td>
מחלות תורשתיות וגנטיות
</td>
                        <td><img src="images/icon5.png"></td>
                        <td>השירות מכסה את כל המחלות הגנטיות והתורשתיות כגון:, טיפול בפיקת הברך, Cherry Eye, תסמונת וובלר, גלאוקומה ,מחלת אפילפסיה ועוד.</td>
                    </tr>
                    <tr class="last">
                    	<td>הדמיה</td>
                        <td><img src="images/icon5.png"></td>
                        <td>השירות כולל בדיקות, אולטראסאונד, רנטגן , אנדוסקופיה ועוד.</td>
                    </tr>   


                    <tr class="last">
                    	<td>בדיקות במעבדות חיצוניות</td>
                        <td><img src="images/icon5.png"></td>
                        <td>השירות כולל גם בדיקות הנשלחות למעבדות חיצוניות בנוסף לבדיקות שנעשות במרפאה.</td>
                    </tr> 


                    <tr class="last">
                    	<td>בחר כל וטרינר </td>
                        <td><img src="images/icon5.png"></td>
                        <td>הינך יכול לבחור כל וטרינר שבהסדר ברחבי הארץ (באפשרותך לעבור וטרינר בתום כל לרבעון)  - לחץ כאן לרשימת הוטרינרים בהסדר</td>
                    </tr> 


                    <tr class="last">
                    	<td>איזור אישי</td>
                        <td><img src="images/icon5.png"></td>
                        <td>באיזור האישי ניתן לקבל מידע על כל הטיפולים, החיסונים שחיית המחמד שלכם עברה, או צפויה לעבור כמו גם מידע על כמה חסכתם בהוצאות הרפואיות.</td>
                    </tr> 
                                     
                </table>
			
		          <p style='font-weight:bold;color:#25A0D6'>
* לכיסוי הרפואי יש מספר החרגות, לרבות מצב רפואי קיים לפני ההצטרפות לשירות וזאת על מנת
לשמור על רמת מחירים משתלמת. לצפיה במה אנו לא מכסים <a 
href='what-not-covered.html' style='font-weight:bold;color:#25A0D6;text-decoration:underline'>לחץ כאן</a>.
</p>
<p style='font-weight:bold;color:#25A0D6'>
* לשירות יש מספר תנאים והגבלות <a 
href='terms-and-conditions.html' style='font-weight:bold;color:#25A0D6;text-decoration:underline'>לחץ כאן לפירוט</a>.
</p>
           
			 
             </div>
             
            <div class="whatwecover-banner whatwecover-banner2">
             	<A href='Request-Quote.html'><img 
src="images/banner2.jpg" class="img-responsive"></a>
             </div>

        </div>
    </div>	
	</section>
    
  <footer>
    	<div class="footer">        	
            <div class="container">
            	<div class="footer-top clearfix">
                	<div class="col-md-4 col-md-4 col-sm-4 col-xs-6 footer-logo">
	                    <img src="images/footer_icon.png" class="img-responsive">
                    </div>                	
                </div>
            	<div class="footer-middle clearfix">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>
                            <li><a href="about-us.html">על השירות</a></li>
                            <li><a href="What-we-cover.html">מה אנו מכסים</a></li>
							<li><a href="plans.html">תוכניות</a></li>
							<li><a href="Service-for-the-dog.html">השירות לכלב</a></li>
							<li><a href="Service-for-the-cat.html">השירות לחתול</a></li>
                        </ul>
                    </div>                
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>						
                            <li><a href="terms-and-conditions.html">תנאים והגבלות</a></li>
                            <li><a href="faq.html">שאלות נפוצות</a></li>
                            <li><a href="for-Veterinarians.html">וטרינרים</a></li>
							<li><a href="contact-us.html">צור קשר</a></li>
                        </ul>
                    </div>        
               </div>                        
               <div class="footer-bottom clearfix">
               	<p class="">2014 © מרפאט בע"מ שירותי בריאות לחיות מחמד</p>
               </div>
            </div>
        </div>
    </footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/easing.js"></script>
<script src="js/nicescroll.js"></script>
 
 
<script>
 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
	  $('.dropdown-menu').hover(function(){
		$(this).prev('.dropdown-toggle').addClass('hover');
  		},function() {
    	$(this).prev('.dropdown-toggle').removeClass( "hover" );
	});
});         
</script>

<div id="balloon2" class="balloonstyle" 
style="color:white;background-color:#25A0D6;font-family:arial;font-size:16px;font-weight:bold;width:400px;"
>
וטרינר מומחה שהוסמך בארץ או בחו"ל, או וטרינר שסיים את התמחותו במוסד מוכר ועומד לפני מבחני הסמכה
</div> 
</body>
</html>
