<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>מרפאט - שירותי בריאות לחיות מחמד - תנאים והגבלות</title>
	 
	<link href="css/bootstrap.css" rel="stylesheet">	 
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
	<link href="css/main.css" rel="stylesheet">
	<!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
 
	<link rel="shortcut icon" href="images/favicon.png">
	<script src="js/pace.js"></script>
	
		<link rel="stylesheet" type="text/css" href="css/balloontip.css" />

<script type="text/javascript" src="js/balloontip.js">
</script>
	
</head>

<body>
	<header>
    	<div class="header-top">
            <div class="container">
        		<div class="row">
	                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<div class="text-left">
                            <span class="link-callus">חייג אלינו:</span>                           
                            <span class="callus-phone">073-240-9505</span>
                        </div>    
                     </div>
                	 <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                     	<ul class="top-links list-inline">
	                        <li class="link-customerLogin"><a 
							href='Login.html'>כניסת לקוחות</a></li>
                            <li class="link-veterinarian"><a 
							href='Login-Veterinarians.html'>כניסת וטרינר</a></li>                        	
                            <li class="link-contactus"><a href="contact-us.html">צור קשר</a></li>
                        </ul>
                     </div>					 
                </div>
            </div>    
        </div>
        
        	<div class="header-middle">
	        	<div class="container">
                	<div class="header-logo clearfix">
                        <div class="logo col-lg-2 col-md-2 col-sm-2 col-xs-3 no-gutters">
                            <a href='index.html'><img 
							id="logo" src="images/logo.png"  class="img-responsive" alt="cat insurance" >
							</a>
                        </div>
                        <div class="logocat col-lg-10 col-md-10 col-sm-10 col-xs-9 no-gutters" style="padding: 0 !important;">
                            <img src="images/logocat.jpg" class="img-responsive" alt="cat insurance" >
                        </div>
                      </div>  
                	<nav class="navbar navbar-default navbar-menu" role="navigation">
                    	<div class="container-fluid no-gutters">
                        	<div class="navbar-header no-gutters">
                                <a href="Request-Quote.html" class="get-quote"><span>קבל הצעת מחיר</span></a>                            
                            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                             	</button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
                                <li><a href="index.html" class="home"><span class="navlabel">דף הבית</span></a></li>
                                <li class="dropdown">
                                	<a href="about-us.html" 
onclick='menuGo("about-us.html")'
class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    	<span class="navlabel">&nbsp;&nbsp;על השירות&nbsp;&nbsp;<span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href='about-us.html' class="service">על השירות</a></li>
                                        <li><a href="What-we-cover.html" class="solution">מה אנו מכסים</a></li>
                                        <li><a href="faq.html" class="solution">שאלות נפוצות</a></li>
                                    </ul>
                                </li>
		
                                <li class="dropdown">
                                	<a href="plans.html" 
onclick='menuGo("plans.html")'
class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    	<span class="navlabel">&nbsp;תכניות כיסוי&nbsp;<span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href='plans.html' class="solution">תוכניות כיסוי</a></li>
                                        <li><a href='Service-for-the-dog.html' class="solution">השירות לכלב</a></li>
                                        <li><a href="Service-for-the-cat.html" class="solution">השירות לחתול</a></li>
                                    </ul>
                                </li>

                                <li><a href="for-Veterinarians.html" class="for-veterinarians last"><span class="navlabel">לוטרינרים</span></a></li>                            
                            </ul>
                            </div>                             
                       </div> 
                    </nav>
    			</div>	
    		</div>
    </header> 

        	<div class="banner-slider">
				<div class="container">
                    	
                    <div class="clearfix"></div>
                </div>    
            </div>
	<section>
    <div class="container term-conditions">
    	<p class="text40 text-blue text-bold">מה אנו לא מכסים</p>
        
		<div 
style="color:#25A0D6;font-family:arial;font-size:18px;font-weight:bold;">
שירותי מרפאט, לכלל הלקוחות ובכל התכניות, אינם כוללים כיסוי עבור השירותים הבאים:
<BR><BR>
</div>
		
		<div class="clearfix">
		
        	<div class="col-md-8">
            	<ol>
							
<li><p>שירות רפואי בקשר להריון, לידה, הרבעה ופוריות, עיקור וסירוס.</p></li>
<li><p>טיפולי שיניים (למעט ניקוי אבן במסלול פרימיום פלוס)</p></li>
<li><p>טיפולי פיזיותרפיה והידרותרפיה.</p></li>
<li><p>אימונותרפיה (היפוסנסטיזציה).</p></li>
<li><p>תרופות בצורת סירופ, משחה או תרופות הניתנות הביתה.</p></li>
<li><p>טיפולי דיאליזה.</p></li>
<li><p>הדמיות CT ו- MRI.</p></li>
<li><p>טיפולים דיאטטיים, קוסמטיים, פסיכולוגיים ופסיכיאטריים, וכן אילוף.</p></li>
<li><p>רפואה משלימה</p></li>
<li><p>טיפול בהכשות נחשים.</p></li>
<li><p>שירותים רפואיים בחו"ל</p></li>
<li><p>ניתוחים שלא נכללים: מוח, עמוד שדרה , ניתוחים נוירולוגיים ,החלפת מפרק ירך, קטרקט, רצועה צולבת בשיטת TPLO  ו TTA  בלבד. ניתוח רצועה צולבת מכוסה בשיטות extracapsular / leteral febler imbrication .</p></li>
<li><p>חיסון לטיפול במלנומה.</p></li>
<li><p>אביזרים רפואיים, אוכל רפואי, לרבות וויטמינים.</p></li>
<li><p>שתלים, פלטות, ברגים, פלטינות ואמצעים אורטופדיים אחרים.</p></li>
<li><p>תרופות במסגרת טיפולים כימותרפיים (הטיפול הכימותרפי עצמו כן מכוסה)</p></li>
<li><p>העברות באמבולנס, הובלת גופה וקבורה.</p></li>
<li><p>אגרות רישוי, שבב והתקנת שבב</p></li>
<li><p>זריקות קונבניה לכלבים בלבד.</p></li>
<li><p>ביקורי בית</p></li>
					
                </ol>
            </div>
        	<div class="col-md-4">
            	<img src="images/dog5.jpg" class="img-responsive">
            </div>            
        </div> 
        <p class="view-all-service"><a href="#">לצפיה בכתב השירות המלא אנא כנס להצעת מחיר.</a></p></div>	
		
		
		<div class="vetbottom-links clearfix">
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                	<a style='text-decoration:none'
					href='What-we-cover.html'
					><div class="button-style1 shadow-blue1 text-darkgreen vetbottom1">
מה אנו מכסים
                    </div></a>
                </div>
            	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                	<a style='text-decoration:none'
					href='faq.html'
					><div 
					class="button-style1 shadow-blue1 text-blue vetbottom2"
					>שאלות נפוצות</div></a>
                </div>
            </div>
	</section>
    
  <footer>
    	<div class="footer">        	
            <div class="container">
            	<div class="footer-top clearfix">
                	<div class="col-md-4 col-md-4 col-sm-4 col-xs-6 footer-logo">
	                    <img src="images/footer_icon.png" class="img-responsive">
                    </div>                	
                </div>
            	<div class="footer-middle clearfix">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>
                            <li><a href="about-us.html">על השירות</a></li>
                            <li><a href="What-we-cover.html">מה אנו מכסים</a></li>
							<li><a href="plans.html">תוכניות</a></li>
							<li><a href="Service-for-the-dog.html">השירות לכלב</a></li>
							<li><a href="Service-for-the-cat.html">השירות לחתול</a></li>
                        </ul>
                    </div>                
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>						
                            <li><a href="terms-and-conditions.html">תנאים והגבלות</a></li>
                            <li><a href="faq.html">שאלות נפוצות</a></li>
                            <li><a href="for-Veterinarians.html">וטרינרים</a></li>
							<li><a href="contact-us.html">צור קשר</a></li>
                        </ul>
                    </div>         
               </div>                        
               <div class="footer-bottom clearfix">
               	<p class="">2014 © מרפאט בע"מ שירותי בריאות לחיות מחמד</p>
               </div>
            </div>
        </div>
    </footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/easing.js"></script>
<script src="js/nicescroll.js"></script>
 
 
<script>
 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
	  $('.dropdown-menu').hover(function(){
		$(this).prev('.dropdown-toggle').addClass('hover');
  		},function() {
    	$(this).prev('.dropdown-toggle').removeClass( "hover" );
	});
});         
</script>



<div id="balloon1" class="balloonstyle" 
style="color:white;background-color:#25A0D6;font-family:arial;font-size:16px;font-weight:bold;width:400px;">
אירוע רפואי הינו כל פציעה, תאונה או מחלה, לרבות מצבים רפואיים נוספים אשר מקורם, בין היתר, באותו אירוע רפואי
</div> 


<div id="balloon2" class="balloonstyle" 
style="color:white;background-color:#25A0D6;font-family:arial;font-size:16px;font-weight:bold;width:400px;">
שירותי מרפאט, לכלל הלקוחות ובכל התכניות, אינם כוללים כיסוי עבור השירותים הבאים:
<BR>
א.	שירות רפואי בקשר להריון, לידה, הרבעה ופוריות, עיקור וסירוס.<BR>
ב.	טיפולי שיניים (למעט ניקוי אבן במסלול פרימיום פלוס)<BR>
ג.	טיפולי פיזיותרפיה והידרותרפיה.<BR>
ד.	אימונותרפיה (היפוסנסטיזציה).<BR>
ה.	תרופות בצורת סירופ, משחה או תרופות הניתנות הביתה.<BR>
ו.	טיפולי דיאליזה.<BR>
ז.	הדמיות CT ו- MRI.<BR>
ח.	טיפולים דיאטטיים, קוסמטיים, פסיכולוגיים ופסיכיאטריים, וכן אילוף. <BR>
ט.	רפואה משלימה <BR>
י.	טיפול בהכשות נחשים.<BR>
יא.	שירותים רפואיים בחו"ל<BR>
יב.	ניתוחים שלא נכללים: מוח, עמוד שדרה , ניתוחים נוירולוגיים ,החלפת מפרק ירך, קטרקט, רצועה צולבת בשיטת TPLO  ו TTA  בלבד. ניתוח רצועה צולבת מכוסה בשיטות extracapsular / leteral febler imbrication . <BR>
יג.	חיסון לטיפול במלנומה.<BR>
יד.	אביזרים רפואיים, אוכל רפואי, לרבות וויטמינים. <BR>
טו.	שתלים, פלטות, ברגים, פלטינות ואמצעים אורטופדיים אחרים.<BR>
טז.	תרופות במסגרת טיפולים כימותרפיים (הטיפול הכימותרפי עצמו כן מכוסה) <BR>
יז.	העברות באמבולנס, הובלת גופה וקבורה.<BR>
יח.	אגרות רישוי, שבב והתקנת שבב <BR>
יט.	זריקות קונבניה לכלבים בלבד.<BR>
כ.	ביקורי בית<BR>

</div>
 
</body>
</html>
