<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>CATINSURANCE</title>
	 
	<link href="css/bootstrap.css" rel="stylesheet">	 
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
	<link href="css/main.css" rel="stylesheet">
	<!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
 
	<link rel="shortcut icon" href="images/favicon.png">
	<script src="js/pace.js"></script>
</head>

<body>
	<header>
    	<div class="header-top">
            <div class="container">
        		<div class="row">
	                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
						<div class="text-left">
                            <span class="link-callus">חייג אלינו:</span>                           
                            <span class="callus-phone">1800-80-9000</span>
                        </div>    
                     </div>
                	 <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                     	<ul class="top-links list-inline">
	                        <li class="link-customerLogin">כניסת לקוחות</li>
                            <li class="link-veterinarian">כניסת וטרינר</li>                        	
                            <li class="link-contactus">צור קשר</li>
                        </ul>
                     </div>					 
                </div>
            </div>    
        </div>
        
        	<div class="header-middle">
	        	<div class="container">
                	<div class="header-logo clearfix">
                        <div class="logo col-lg-2 col-md-2 col-sm-2 col-xs-3 no-gutters">
                             <img id="logo" src="images/logo.png"  class="img-responsive" alt="cat insurance" >
                        </div>
                        <div class="logocat col-lg-10 col-md-10 col-sm-10 col-xs-9 no-gutters" style="padding: 0 !important;">
                            <img src="images/logocat.jpg" class="img-responsive" alt="cat insurance" >
                        </div>
                      </div>  
                	<nav class="navbar navbar-default navbar-menu" role="navigation">
                    	<div class="container-fluid no-gutters">
                        	<div class="navbar-header no-gutters">
                                <a href="#" class="get-quote"><span>קבל הצעת מחיר</span></a>                            
                            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                             	</button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
                                <li><a href="index.html"class="home"><span class="navlabel">דף הבית</span></a></li>
                                <li class="dropdown">
                                	<a href="plans.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    	<span class="navlabel">שירותי בריאות<span class="caret"></span></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="service">על השירות</a></li>
                                        <li><a href="plans.html" class="solution">צורך /בעיה+פיתרון</a></li>
                                        <li><a class="whatwecover">מה אנו מכסים</a></li>
                                        <li><a class="faq">שאלות נפוצות</a></li>
                                    </ul>
                                </li>
					            <li><a href="catinsurance.html"><span class="navlabel">לוטרינרים</span></a></li>
                                <li><a href="whatwecover.html" class="for-veterinarians last"><span class="navlabel">עוד לינק</span></a></li>                            
                            </ul>
                            </div>                             
                       </div> 
                    </nav>
    			</div>	
    		</div>
    </header> 
        	<!--<div class="homepage-slider">
				<div class="container">
                    	<ul class="slider list-inline">
                        	<li> 
                        		<div id="slider-layer1" class="slider-layer">
                                    <p class="text60 text-bold"><span class="text-darkblue">עם שירות</span><span class="text-green">מרפאט</span></p>
                                    <p class="text30 text-darkblue">אתם יכולים לתת את הטיפול הרפואי</p>                                 
                                    <p class="text60 text-darkblue">הטוב ביותר!</p>   
                            	</div>
                                <div id="slider-layer2" class="slider-layer" style="margin-top:8px;">
                            		<img src="images/cat1.png" class="img-responsive inline-block">
                                </div>                         	                            
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>    
            </div>-->
	<section>
<!-- Register -->    
    	<div class="container">
        	<div class="register">
            	<div class="join-heading"><h1 class="text-center">Register</h1></div>
                <div class="join-wapper">
                	<div class="join-steps clearfix">
                    	<div class="join-step join-step1">
                        	<div class="join-step-icon">
                                <img src="images/step-bg.png" class="img-responsive">
                            </div>                            
                            <p class="text-center">STEP 1</p>
                        </div> 
                    	<div class="join-step join-step2">
                        	<div class="join-step-icon">
                                <img src="images/step-bg.png" class="img-responsive">
                            </div>                            
                            <p class="text-center">STEP 2</p>
                        </div> 
                    	<div class="join-step join-step3">
                        	<div class="join-step-icon">
                                <img src="images/step-bg.png" class="img-responsive">
                            </div>                            
                            <p class="text-center">STEP 3</p>
                        </div> 
                    	<div class="join-step join-step4">
                        	<div class="join-step-icon">
                                <img src="images/step-bg.png" class="img-responsive">
                            </div>                            
                            <p class="text-center">STEP 4</p>
                        </div>                         
                        
                    </div>	<!-- join-steps -->
                    <div class="join-steps-content">
                    	<h1 class="text-center">Registration texts</h1>	
                        <div class="registration-form">
                        	<form role="form">
                            	<div class="form-group">
                                	<div class="input-group" >
                                    	<div class="input-group-addon">@</div>
	                                    <input class="form-control" type="email" placeholder="Enter email">
                                    </div>                                	
                                </div>
								<div class="form-group clearfix">
                                	<div class="col-xs-6">
                                    	<img src="images/register-img-dog.png" class="img-responsive">	
                                    </div>
                                    <div class="col-xs-6">
                                        <img src="images/register-img-cat.png" class="img-responsive">
                                    </div>
                                </div>
								<div class="form-group inline-group text-center clearfix">
                                	<div class="col-xs-3 no-gutters form-control">                                       
	                              		<label>RADIO</label>
                                    </div>
                                    <div class="col-xs-3 no-gutters form-control">
                                           <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    </div>
                                    <div class="col-xs-3 no-gutters form-control">
										<label>RADIO</label>
                                    </div>
                                    <div class="col-xs-3 no-gutters form-control">
                                           <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <div class="selectContainer">
                                        <select name="language" class="form-control">
                                            <option value=""></option>
                                            <option value="arabic">Arabic</option>
                                            <option value="english">English</option>
                                            <option value="french">French</option>
                                            <option value="german">German</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
								<div class="form-group clearfix">                               
                                	<div class="col-lg-6 col-md-6 col-xs-6 no-gutters">
									     <div class="input-group">
        		                          	<div class="input-group-addon">@</div>
			                                <input class="form-control no-left-radius" type="email" placeholder="Enter email">
                                         </div>
                                    </div>                                	
                                    <div class="col-lg-6 col-md-6 col-xs-6 no-gutters">
                                    	<div class="input-group">
	                                    	<div class="input-group-addon no-right-radius">@</div>
		                                    <input class="form-control" type="email" placeholder="Enter email">
                                        </div>    
                                    </div>                                	
                                </div>
                            	<div class="form-group">
                                	<div class="input-group" >
                                    	<div class="input-group-addon">@</div>
	                                    <input class="form-control" type="email" placeholder="Enter email">
                                    </div>                                	
                                </div>                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
      
	</section>
    
    <footer>
    	<div class="footer">        	
            <div class="container">
            	<div class="footer-top clearfix">
                	<div class="col-md-4 col-md-4 col-sm-4 col-xs-6 footer-logo">
	                    <img src="images/footer_icon.png" class="img-responsive">
                    </div>                	
                </div>
            	<div class="footer-middle clearfix">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>
                            <li>צור קשר</li>
                            <li>אודות</li>
                            <li>קבל הצעה מחיר</li>
                            <li>תנאים והגבלות</li>
                            <li>מפת האתר</li>
                        </ul>
                    </div>                
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                        <ul>
                            <li>שאלות נפוצות</li>
                            <li>מדוע כדאי להצטרף</li>
                            <li>אודות השירות</li>
                            <li>וטרינרים</li>
                        </ul>
                    </div>         
               </div>                        
               <div class="footer-bottom clearfix">
               	<p class="">2014 © מרפאט שירותי בריאות לחיות</p>
               </div>
            </div>
        </div>
    </footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/easing.js"></script>
<script src="js/nicescroll.js"></script>
 
 
<script>


 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
		 var $anchor = $(this);
		 $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
	  $('.dropdown-menu').hover(function(){
		$(this).prev('.dropdown-toggle').addClass('hover');
  		},function() {
    	$(this).prev('.dropdown-toggle').removeClass( "hover" );
	});
});
  
  
        

</script>
 
</body>
</html>
